.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
// @media (max-width: map.get($grid-breakpoints, "lg")){
//     .btn {
//         padding: 7px 20px;
//         width: map-get($grid-breakpoints, md);
//     }
// }
