.sec_title {
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid currentColor;
    }
}
@media (max-width: map.get($grid-breakpoints, "md")) {
    .sec_title {
        .flex {
            flex-wrap: wrap;
            gap: 12px;
        }
    }
}
