.industry_intro {
    padding-top: 196px;
    overflow: hidden;
    .slider_wrap {
        position: relative;
        // overflow: hidden;
        padding: 120px 0;
    }
    .slider {
        overflow: hidden;
        &::after {
            content: "";
            background-image: url(../images/lines.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 800px;
            max-width: 100%;
            aspect-ratio: 80/82;
            position: absolute;
            right: -20%;
            top: 5%;
        }
        &::before {
            display: none;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 170px;
        padding: 100px 0;
        margin-top: 50px;
        position: relative;
        z-index: 1;
        .swiper-counter {
            font-size: 48px;
            font-weight: 300;
            letter-spacing: 4px;
        }
        .arrow {
            cursor: pointer;
            svg {
                display: none;
            }
            &::after {
                content: "";
                width: 35.5px;
                height: 71px;
                aspect-ratio: 71/35.5;
                background-size: contain;
                display: block;
                background-repeat: no-repeat;
            }
        }
        .prev_arrow {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='38' height='73' viewBox='0 0 38 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37 1L1.5 36.5L37 72' stroke='white'/%3E%3C/svg%3E%0A");
            }
        }
        .next_arrow {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='37' height='73' viewBox='0 0 37 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1L36 36.5L0.5 72' stroke='white'/%3E%3C/svg%3E%0A");
            }
        }
    }
    .wrapper {
        flex-wrap: nowrap;
        align-items: flex-end;
        &::before {
            display: none;
        }
    }
    .col {
        &:first-child {
            width: 65%;
        }
    }
    .sec_title {
        position: relative;
        z-index: 2;
        h3 {
            display: inline-block;
            background: linear-gradient(90deg, #c6f9e5 0%, #0c2222 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            color: white;
        }
    }
    > .container {
        > .sec_title {
            margin-bottom: -200px;
        }
    }
    .image {
        margin-bottom: 0;
        min-width: 170%;
        margin-left: -100%;
    }
    // .image {
    //     min-width: 162%;
    //     margin-left: -79%;
    //     margin-bottom: -4%;
    //     position: relative;

    // }
}
.pagination {
    .swiper-button-disabled {
        opacity: .34;
        pointer-events: none;
    }
}
@media (max-width: 991px) {
    .industry_intro {
        overflow: hidden;
        padding: 124px 0;
        .image {
            margin-left: 0;
            min-width: auto;
        }
        > .container {
            > .sec_title {
                margin-bottom: 0;
            }
        }
        .sec_title {
            text-align: center;
            .text_lg {
                margin-bottom: 10px;
            }
        }
        .wrapper {
            flex-wrap: wrap;
        }
        .pagination {
            gap: 20px;
            padding: 20px 0;
            margin-top: 20px;
            .arrow {
                &::after{
                    display: none;
                }
                svg {
                    display: block;
                }
            }
            .swiper-counter {
                font-size: 14px;
            }
        }
        .slider {
            overflow: visible;
            &::after {
                left: 50%;
                top: 75%;
                transform: translate(-50%, -50%);
            }
        }
        .slider_wrap {
            overflow: visible;
            padding: 0;
        }
    }
}
