// Colors
//
:root {
    --body-color: #121212;
    --grey: #494949;
    --grey-100: #171717e6;
    --grey-200: #707070;
    --grey-300: #808080;
    --grey-linear: linear-gradient(180deg, rgba(44, 44, 44, 0.00) 0%, rgba(44, 44, 44, 0.50) 100%);
}
